extends ../layout

block content
    .alkalaa
        h3.h1 #{data[0].cardtitle}
        .row
            .col-lg-7.col-md-6
                p #{data[0].cardp}
            .col-lg-5.col-md-6
                img(src="#{data[0].cardimg}", alt=" #{data[0].cardimg}", style='width:100%')
                div.price #{data[0].cardPrice}
                        