extends ../layout

block content
    .alkalaa
        h3.h1 #{data[4].cardtitle}
        .row
            .col-lg-7.col-md-6
                p #{data[4].cardp}
            .col-lg-5.col-md-6
                img(src="#{data[4].cardimg}", alt=" #{data[4].cardimg}", style='width:100%')
                div.price #{data[4].cardPrice}
                        