extends ../layout

block content
    .alkalaa
        h3.h1 #{data[8].cardtitle}
        .row
            .col-lg-7.col-md-6
                p #{data[8].cardp}
            .col-lg-5.col-md-6
                img(src="#{data[8].cardimg}", alt=" #{data[8].cardimg}", style='width:100%')
                div.price #{data[8].cardPrice}