extends ../layout

block content
    include trepes-nav
    h3.h1 caltural tripes
    .row
        .col-lg-4
            .card
                img.card-img-top(src='#{data[0].cardimg}', alt='#{data[0].cardimg}')
                .card-body
                    h5.card-title #{data[0].cardtitle}
                    p.card-text #{data[0].cardSmallp}
                    a.btn.btn-primary(href='#{data[0].cardLink}', class="float-right") see more
        .col-lg-4
            .card
                img.card-img-top(src='#{data[2].cardimg}', alt='#{data[2].cardimg}')
                .card-body
                    h5.card-title #{data[2].cardtitle}
                    p.card-text #{data[2].cardSmallp}
                    a.btn.btn-primary(href='#{data[2].cardLink}', class="float-right") see more
        .col-lg-4
            .card
                img.card-img-top(src='#{data[4].cardimg}', alt='#{data[4].cardimg}')
                .card-body
                    h5.card-title #{data[4].cardtitle}
                    p.card-text #{data[4].cardSmallp}
                    a.btn.btn-primary(href='#{data[4].cardLink}', class="float-right") see more
        .col-lg-4
            .card
                img.card-img-top(src='#{data[7].cardimg}', alt='#{data[7].cardimg}')
                .card-body
                    h5.card-title #{data[7].cardtitle}
                    p.card-text #{data[7].cardSmallp}
                    a.btn.btn-primary(href='#{data[7].cardLink}', class="float-right") see more
